Flask==3.0.3
Flask-SQLAlchemy==3.1.1
SQLAlchemy==2.0.29
psycopg2-binary==2.9.9
pytz==2024.1
requests==2.32.3
pandas==2.2.2
openpyxl==3.1.5
gunicorn==22.0.0
python-dotenv==1.0.1
buildCommand: "pip install -r requirements.txt"
startCommand: "python app.py"  


